h1 {
text-align: center;
text-decoration: none;
}

/* remove default spacing on root elements so full-width backgrounds can reach the viewport edges */
html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  word-spacing: 50px;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Trebuchet MS';
  font-size: x-large;
}
  

ul li a:hover {
  background-color: rgb(129, 129, 129);
}



img {
height: 800px;
width: 280px;

}

#grad1 {
  /* make the gradient visible by giving the element a size */
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(129, 129, 129));
  background-color: rgb(0, 0, 0);
  width: 100%;         /* span full width of its container */
  height: 896px;       /* give it some height so the gradient can be seen */
  /* you can adjust the height or use min-height as needed */
 display: flex;

}

/* use a class selector and specify properties */
.guitar1 {
  height: 800px;
  width: 280px;
}
.guitar2 {
  height: 800px;
  width: 500px;
  float: left;
}



body {
background-color: black;
}